<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=0.65">
  <title>inside-the-venue</title>
  <link rel="stylesheet" href="style.css">
  <link rel="icon" type="image/png" href="img/turbo_city.png">
</head>
<body>
<div class="cont">
  <div id="image" class="loading">
  </div>
  <a href="http://twitter.com/turbocitylondon/" id="turbo">
    <img src="img/turbo_city.png"/>
  </a>
  <div id="warning">
    <span class="english">WARNING: CONTAINS FLASHING IMAGES</span><br>
    <span class="chinese">包含闪烁的图像</span>
  </div>
</div>


<script id="live-reload" src="http://localhost:35729/livereload.js"></script>
<script src="app.js"></script>
</body>
</html>